body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

.hero {
	padding: 250px 0;
	margin: 30px;
	background-size: cover;
	color: #000000;
	background-image: url("download.jpg");
}

.center {
	text-align: center;
	list-style-position: inside;	
}
